<section class="summary row">
	<section class="col-lg-offset-1 col-lg-10">
		<div id="summaryPdf">
			<article class="s1">
				<div class="summary-header">
					<h4>RESUMEN COTIZACIÓN</h4>
				</div>
				<div class="s1-body">
					<div class="col-xs-12 content">
						<div class="content-summary">
							<div class="content-item">
								<img ng-src="./images/{{infraestructura | lowercase}}.jpg" alt="">
							</div>
							<div class="content-item">
								<h4>{{total | currency}}</h4>
								<span>TOTAL</span>
							</div>
							<div class="content-item">
								<h4>{{modalidad}}</h4>
								<span>MODALIDAD</span>
								<h4>Infraestructura ciclista</h4>
								<span>TIPO</span>
							</div>
							<div class="content-item">
								<h4>{{infraestructura}}</h4>
								<span>PROYECTO</span>
								<h4>{{area}}</h4>
								<span>LUGAR</span>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="s3" style="margin-top: 5px;">
				<div class="summary-header" style="background-color:rgba(65,76,90,0.75);color:#ffffff;">
					<h4 style="color:#ffffff;">Costos</h4>
				</div>
				<div class="row" style="margin:0;background-color:#ffffff;">
					<div class="col-xs-12 col-sm-offset-2 col-sm-8">
						<table>
							<tbody>
								<tr>
									<td>Obras viales de bacheo</td>
									<td>{{inputResult.bacheo | currency}}</td>
								</tr>
								<tr>
									<td>Biciestacionamientos</td>
									<td>{{inputResult.biciestacionamientos | currency}}</td>
								</tr>
								<tr>
									<td>Delimitación de la Infraestructura</td>
									<td>{{inputResult.delimitacionInfraestructura | currency}}</td>
								</tr>
								<tr>
									<td>Infraestructura complementaria</td>
									<td>{{inputResult.infraestructuraComplementaria | currency}}</td>
								</tr>
								<tr>
									<td>Intersecciones semaforizadas</td>
									<td>{{inputResult.interseccionesSemaforizadas | currency}}</td>
								</tr>
								<tr>
									<td>Señalización
										<small style="margin-left: 15px;display: block;font-size: 15px;" ng-if="inputResult.horizontal && inputResult.vertical ">Señalización horizontal</small>
										<small style="margin-left: 15px;display: block;font-size: 15px;" ng-if="inputResult.horizontal && inputResult.vertical">Señalización vertical</small>
									</td>
									<td>{{inputResult.seleccionada | currency}}
										<small style="margin-left: 15px;display: block;font-size: 15px;" ng-if="inputResult.horizontal && inputResult.vertical">{{inputResult.horizontal | currency}}</small>
										<small style="margin-left: 15px;display: block;font-size: 15px;" ng-if="inputResult.horizontal && inputResult.vertical">{{inputResult.vertical | currency}}</small>
									</td>
								</tr>
								<tr>
									<td>Area de Infraestructura</td>
									<td>{{inputResult.areaInfraestructura | number}} metro cuadrados.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</article>
			<article class="s3" style="margin-top: 5px;">
				<div class="summary-header" style="background-color:rgba(65,76,90,0.75);color:#ffffff;">
					<h4 style="color:#ffffff;">Datos ingresados</h4>
				</div>
				<div class="s3-body">
					<section class="row">
						<div class="content-left col-xs-12 col-sm-6">
							<div class="col-xs-12">
								<table>
									<tbody>
										<tr>
											<td>Infraestructura</td>
											<td>{{infraestructura}}</td>
										</tr>
										<tr>
											<td>Tipo de calle</td>
											<td>{{tipo_calle}}</td>
										</tr>
										<tr>
											<td>Kilómetros</td>
											<td>{{KmEvaluables}}</td>
										</tr>
										<tr>
											<td>Ancho efectivo de la infraestructura</td>
											<td>{{Anchoefectivo}}</td>
										</tr>
										<tr>
											<td>Sentidos</td>
											<td>{{Sentidos}}</td>
										</tr>
										<tr>
											<td>Sección de calle (arroyo vehicular)</td>
											<td>{{AnchoCalle}}</td>
										</tr>
										<tr>
											<td>Intersecciones semaforizadas</td>
											<td>{{IntersSemaf}}</td>
										</tr>
										<tr>
											<td>Intersecciones totales</td>
											<td>{{IntersTotales}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="content-right col-xs-12 col-sm-6">
							<div class="col-xs-12">
								<table>
									<tbody>
										<tr>
											<td>Nivel de bacheo</td>
											<td>{{TipoDeBacheo}}</td>
										</tr>
										<tr>
											<td>Pozos de drenaje</td>
											<td>{{PozosProyecto}}</td>
										</tr>
										<tr>
											<td>Rejillas</td>
											<td>{{RejillasProyecto}}</td>
										</tr>
										<tr>
											<td>Cocheras</td>
											<td>{{Cocheras}}</td>
										</tr>
										<tr>
											<td>Biciestacionamientos</td>
											<td>{{Biciestacionamientos}}</td>
										</tr>
										<tr>
											<td>Señalización</td>
											<td>{{senalizacion}}</td>
										</tr>
										<tr>
											<td>Obra complementaria</td>
											<td>{{ObraComp}}</td>
										</tr>
										<tr>
											<td>Mantenimiento anual</td>
											<td>{{MantenimientoAnual}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</section>
				</div>
			</article>
		</div>
		<article class="s2" style="margin-top: 5px;">
			<div class="summary-header" style="background-color:rgba(65,76,90,0.75);color:#ffffff;">
				<h4 style="color:#ffffff;">Comparativa</h4>
			</div>
			<div class="s2-body">
				<section class="row">
					<article class="col-xs-12">
						<div class="summary-header">
							<h4 style="color:#414C5A;font-weight: 400;">Ingresos</h4>
						</div>
						<div id="Ingresos" style="width:100%;height: 500px;font-size:11px;"></div>
					</article>
					<br>
					<article class="col-xs-12">
						<div class="summary-header">
							<h4 style="color:#414C5A;font-weight: 400;">Egresos</h4>
						</div>
						<div id="Egresos" style="width:100%;height: 500px;font-size:11px;"></div>
					</article>
						<div class="summary-action">
							<button class="btn btn-success" ui-sref="modalidades.calculadora.formulario">Cambiar Datos</button>
							<button class="btn btn-success" ng-click="createPdf()">Descargar PDF</button>
						</div>
				</section>
			</div>
		</article>
	</section>
</section>