.form-control{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	padding: 0px 12px;
	border: 1px solid #ECEFF1;
	border-radius: 3px;
	@include transition(all 0.25s linear);
	&:focus{
		@include box-shadow(none);
		border-color: $color-text;
		border-width: 1px;
		box-shadow: none;
		outline: 0;
	}
}
.input::after{
	@include transition(all 0.25s linear);
	background: #2196f3;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	transition: all;
	width: 0;
	z-index: 3;
}
input[type=number]{
	font-size: 18px;
	font-weight: 300;
	background: #ECEFF1;
}