		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-offset-1 col-lg-10">
					<ul>
						<li class="gender" style="padding: 0 10px;">
							<label for="2sentidos"><small>Tipo de Infraestructura</small></label>
								<input type="text" disabled class="form-control" ng-model="calculator.infraestructura" >
						</li>
						<li class="gender" style="padding: 0 10px;">
							<label for="2sentidos"><small>Tipo de calle</small></label>
							<input type="text" disabled class="form-control" ng-model="calculator.tipo_calle" >
						</li>
					</ul>
				</div>
			</div>
		</div>
<div class="row calculator-form-c">
	<section class="calculator-question col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-offset-1 col-lg-10">
					<ul>
						<li class="gender" style="padding: 0 10px;">
							<label for="2sentidos"><small>Tipo de Infraestructura</small></label>
								<input type="text" disabled class="form-control" ng-model="calculator.infraestructura" >
						</li>
						<li class="gender" style="padding: 0 10px;">
							<label for="2sentidos"><small>Tipo de calle</small></label>
							<input type="text" disabled class="form-control" ng-model="calculator.tipo_calle" >
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>Ingresa los kilómetros de infraestructura a cotizar</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 input">
							<input type="number" name="kilometros" class="form-control" placeholder="eg: 00.0" ng-pattern="/^[0-9]{1,7}[.][0-9]{1,1}$/" step="0.1" ng-model="calculator.KmEvaluables" required>
							<span class="btn btn-danger" ng-show="calculatorForm.kilometros.$error.pattern || calculatorForm.kilometros.$invalid && calculatorForm.kilometros.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>Ancho efectivo de la infraestructura</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
							<input type="number" class="form-control" name="ancho" placeholder="eg: 00.0" ng-pattern="/^[0-9]{1,7}[.][0-9]{1,1}$/" step="0.1" ng-model="calculator.Anchoefectivo" required>
							<span class="btn btn-danger" ng-show="calculatorForm.ancho.$error.pattern || calculatorForm.ancho.$invalid && calculatorForm.ancho.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>¿Cuántos sentidos tendrá?</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
					<ul>
						<li>
							<div class="form-group">
								<div class="gender">
										<input type="radio" value="1" id="1sentido" name="sentido" class="radio" ng-model="calculator.Sentidos" required>
										<label for="1sentido"><small>1 sentido</small></label>
								</div>
							</div>
						</li>
						<li>
							<div class="form-group">
								<div class="gender">
										<input type="radio" value="2" id="2sentidos" name="sentido" class="radio" ng-model="calculator.Sentidos" required>
										<label for="2sentidos"><small>2 sentidos</small></label>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>¿Cuánto mide la sección de la calle (arroyo vehicular)?</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
							<input type="number" class="form-control" name="seccion_arroyo" placeholder="eg: 00.0" ng-model="calculator.AnchoCalle" ng-pattern="/^[0-9]{1,7}[.][0-9]{1,1}$/" step="0.1" required>
							<span class="btn btn-danger" ng-show="calculatorForm.seccion_arroyo.$error.pattern || calculatorForm.seccion_arroyo.$invalid && calculatorForm.seccion_arroyo.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>Número de intersecciones semaforizadas</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
							<input type="number" class="form-control" name="IntersSemaf" placeholder="eg: 00" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.IntersSemaf" required>
							<span class="btn btn-danger" ng-show="calculatorForm.IntersSemaf.$error.pattern || calculatorForm.IntersSemaf.$invalid && calculatorForm.IntersSemaf.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
					<label>Número de intersecciones totales</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
							<input type="number" class="form-control" name="IntersTotales" placeholder="eg: 00" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.IntersTotales" required>
							<span class="btn btn-danger" ng-show="calculatorForm.IntersTotales.$error.pattern || calculatorForm.IntersTotales.$invalid && calculatorForm.IntersTotales.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
					<label>Nivel de bacheo a utilizar</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
					<ul>
						<li class="gender">
							<input type="radio" value="Slurry" id="slurry" name="nivel" class="radio" ng-model="calculator.TipoDeBacheo" required>
							<label for="slurry"><small>Slurry</small></label>
						</li>
						<li class="gender">
							<input type="radio" value="BacheoSuperficial" id="superficial" name="nivel" class="radio" ng-model="calculator.TipoDeBacheo" required>
							<label for="superficial"><small>Superficial</small></label>
						</li>
						<li class="gender">
							<input type="radio" value="BacheoProfundo" id="profundo" name="nivel" class="radio" ng-model="calculator.TipoDeBacheo" required>
							<label for="profundo"><small>Profundo</small></label>
						</li>
						<li class="gender">
							<input type="radio" value="BacheoPromedio" id="promedio" name="nivel" class="radio" ng-model="calculator.TipoDeBacheo" required>
							<label for="promedio"><small>Promedio</small></label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
				<label>Número de pozos de drenaje</label>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
				<ul>
					<li class="gender">
						<input type="radio" ng-value="default" id="predeterminado" name="pozos" class="radio" ng-model="calculator.PozosProyecto" >
						<label for="predeterminado"><small>Cálculo predeterminado</small></label>
					</li>
					<li class="gender" style="display: inline-flex;display: -webkit-inline-flex;">
						<input type="radio" value="otro-pozo" id="otro-pozo" name="pozos" class="radio"  >
						<label for="otro-pozo" style="padding-right: 25px;visibility:hidden;display: none;"><small>Otro</small></label>
						<input type="number" class="form-control" name="PozosProyecto" placeholder="número" style="position: relative;top: 4px;" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.PozosProyecto" >
						<span class="btn btn-danger" ng-show="calculatorForm.PozosProyecto.$error.pattern || calculatorForm.PozosProyecto.$invalid && calculatorForm.PozosProyecto.$dirty">No es un número válido !</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
				<label>Número de rejillas</label>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
				<ul>
					<li class="gender">
						<input type="radio" ng-value="0" id="default-rejillas" name="rejillas" class="radio" ng-model="calculator.RejillasProyecto">
						<label for="default-rejillas"><small>Rejillas por default</small></label>
					</li>
					<li class="gender" style="display: inline-flex;display: -webkit-inline-flex;">
						<input type="radio" value="otro-rejilla" id="otro-rejilla" name="rejillas" class="radio">
						<label for="otro-rejilla" style="padding-right: 25px;visibility:hidden;display: none;"><small>Otro</small></label>
						<input type="number" class="form-control" name="RejillasProyecto" placeholder="número" style="position: relative;top: 4px;" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.RejillasProyecto">
						<span class="btn btn-danger" ng-show="calculatorForm.RejillasProyecto.$error.pattern || calculatorForm.RejillasProyecto.$invalid && calculatorForm.RejillasProyecto.$dirty">No es un número válido !</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
				<label>Cocheras a lo largo del trayecto</label>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
				<ul>
					<li class="gender">
						<input type="radio" ng-value="0" id="cocheras-default" name="cocheras" class="radio" ng-model="calculator.Cocheras">
						<label for="cocheras-default"><small>Por default</small></label>
					</li>
					<li class="gender" style="display: inline-flex;display: -webkit-inline-flex;">
						<input type="radio" value="otro-cochera" id="otro-cochera" name="cocheras" class="radio">
						<label for="otro-cochera" style="padding-right: 25px;visibility:hidden;display: none;"><small>Otro</small></label>
						<input type="number" class="form-control" name="Cocheras" placeholder="eg: 00" style="position: relative;top: 4px;" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.Cocheras">
						<span class="btn btn-danger" ng-show="calculatorForm.Cocheras.$error.pattern || calculatorForm.Cocheras.$invalid && calculatorForm.Cocheras.$dirty">No es un número válido !</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
					<label>¿Cuántos biciestacionamientos habrá en el proyecto?</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
					<ul class="form-group">
						<li class="gender">
							<input type="radio" ng-value="0" id="default-biciestacionamiento" name="biciestacionamiento" class="radio" ng-model="calculator.Biciestacionamientos">
							<label for="default-biciestacionamiento"><small>Por default</small></label>
						</li>
						<li class="gender" style="display: inline-flex;display: -webkit-inline-flex;">
							<input type="radio" value="default_otro" id="default_otro" name="biciestacionamiento" class="radio">
							<label for="default_otro" style="padding-right: 25px;visibility:hidden;display: none;" ><small>Otro</small></label>
							<input type="number" class="form-control" name="Biciestacionamientos" placeholder="eg: 00" style="position: relative;top: 4px;" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.Biciestacionamientos">
							<span class="btn btn-danger" ng-show="calculatorForm.Biciestacionamientos.$error.pattern || calculatorForm.Biciestacionamientos.$invalid && calculatorForm.Biciestacionamientos.$dirty">No es un número válido !</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
				<label>Señalización durante el trayecto</label>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
				<ul>
					<li class="gender">
						<input type="radio" value="MinSenalHor" id="señalizacion-minima" name="señalizacion" class="radio" ng-model="calculator.senalizacion" required>
						<label for="señalizacion-minima"><small>Los mínimos requeridos (señalización horizontal)</small></label>
					</li>
					<li class="gender">
						<input type="radio" value="MaxSenalHor" id="señalizacion-completa" name="señalizacion" class="radio" ng-model="calculator.senalizacion" required>
						<label for="señalizacion-completa"><small>Señalización completa (señalización horizontal, señalización vertical)</small></label>
					</li>
				</ul>
			</div>
		</div>
		<button class="btn btn-lg btn-success" ng-disabled="calculatorForm.$invalid" ng-click="saveQuote(calculatorForm, calculator)">COMPARAR</button>
	</section>
</div>