<div class="row calculator-form-title">
	<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
		<div class="calculator-form-t col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<section>
				<p>Tipo de Infraestructura</p>
				<h1>{{calculator.infraestructura}}</h1>
			</section>
		</div>
		<div class="calculator-form-t col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<section>
				<p>Tipo de calle</p>
				<h1>{{calculator.tipo_calle}}</h1>
			</section>
		</div>
	</div>
</div>
<div class="row calculator-form-c">
	<section class="calculator-question col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>Ingresa los kilómetros de infraestructura a cotizar</label>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 input">
							<input type="number" name="kilometros" class="form-control" placeholder="ejemplo: 00.00" step="0.01" ng-pattern="/^\d{0,1}(\d\.\d)?\d?$/"  ng-model="calculator.KmEvaluables" required>
							<label>Km</label>
							<span class="btn btn-danger" ng-show="calculatorForm.kilometros.$error.pattern ">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>Ancho efectivo de la infraestructura</label>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 input">
							<input type="number" class="form-control" name="ancho" placeholder="ejemplo: 00.0" ng-pattern="/^\d{0,1}(\d\.\d)?\d?$/" step="0.01" ng-model="calculator.Anchoefectivo" required>
							<label>mts.</label>
							<span class="btn btn-danger" ng-show="calculatorForm.ancho.$error.pattern || calculatorForm.ancho.$invalid && calculatorForm.ancho.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>¿Cuántos sentidos tendrá?</label>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
					<ul>
						<li class="item-option">
								<input type="radio" value="1" id="1sentido" name="sentido" class="radio" ng-model="calculator.Sentidos" required>
								<label class="label-field" for="1sentido"><small>1 sentido</small></label>
						</li>
						<li class="item-option">
								<input type="radio" value="2" id="2sentidos" name="sentido" class="radio" ng-model="calculator.Sentidos" required>
								<label class="label-field" for="2sentidos"><small>2 sentidos</small></label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>¿Cuánto mide la sección de la calle (arroyo vehicular)?</label>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 input">
							<input type="number" class="form-control" name="seccion_arroyo" placeholder="eg: 00.0" ng-model="calculator.AnchoCalle" ng-pattern="/^[0-9]{1,4}[.][0-9]{1,1}$/" step="0.1" required>
							<label>mts.</label>
							<span class="btn btn-danger" ng-show="calculatorForm.seccion_arroyo.$error.pattern || calculatorForm.seccion_arroyo.$invalid && calculatorForm.seccion_arroyo.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>Número de intersecciones semaforizadas</label>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
							<input type="number" class="form-control" name="IntersSemaf" placeholder="eg: 00" ng-pattern="/^[0-9]{1,3}$/" ng-model="calculator.IntersSemaf" required>
							<span class="btn btn-danger" ng-show="calculatorForm.IntersSemaf.$error.pattern || calculatorForm.IntersSemaf.$invalid && calculatorForm.IntersSemaf.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
					<label>Número de intersecciones totales</label>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
							<input type="number" class="form-control" name="IntersTotales" placeholder="eg: 00" ng-pattern="/^[0-9]{1,3}$/" ng-model="calculator.IntersTotales" required>
							<span class="btn btn-danger" ng-show="calculatorForm.IntersTotales.$error.pattern || calculatorForm.IntersTotales.$invalid && calculatorForm.IntersTotales.$dirty">No es un número válido !</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<label>Nivel de bacheo a utilizar</label>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<ul>
						<li class="item-option">
							<input type="radio" value="Slurry" id="slurry" name="nivel" class="radio" ng-model="calculator.TipoDeBacheo" required>
							<label class="label-field" for="slurry"><small>Slurry</small></label>
						</li>
						<li class="item-option">
							<input type="radio" value="BacheoSuperficial" id="superficial" name="nivel" class="radio" ng-model="calculator.TipoDeBacheo" required>
							<label class="label-field" for="superficial"><small>Superficial</small></label>
						</li>
						<li class="item-option">
							<input type="radio" value="BacheoProfundo" id="profundo" name="nivel" class="radio" ng-model="calculator.TipoDeBacheo" required>
							<label class="label-field" for="profundo"><small>Profundo</small></label>
						</li>
						<li class="item-option">
							<input type="radio" value="BacheoPromedio" id="promedio" name="nivel" class="radio" ng-model="calculator.TipoDeBacheo" required>
							<label class="label-field" for="promedio"><small>Promedio</small></label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label>Número de pozos de drenaje</label>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<ul>
					<li class="item-option">
						<input type="radio" id="PozosProyecto" class="radio" name="PozosProyecto" ng-value="default_pozos" ng-model="calculator.PozosProyecto" ng-click="getPozosAuto(calculator.KmEvaluables)" ng-checked="flagPozos == true">
						<label class="label-field" for="PozosProyecto"><small>Cálculo predeterminado</small></label>

						<input type="number" ng-value="calculator.PozosProyecto" class="form-control" placeholder="número" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.PozosProyecto" disabled ng-if="calculator.PozosProyecto == default_pozos || flagPozos === true" style="top: 15px;position: relative;">
					</li>
					<li class="item-option" style="display: inline-flex;display: -webkit-inline-flex;">
						<input type="radio" id="otro-pozo" class="radio" name="PozosProyecto" ng-value="custom_pozos" ng-model="calculator.PozosProyecto" ng-click="getPozosCustom()" ng-checked="flagPozos === false">
						<label class="label-field" for="otro-pozo"><small>Otro</small></label>
						
						<input type="number" id="otro-pozo" class="form-control" placeholder="número" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.PozosProyecto" ng-if="flagPozos === false" required ng-change="customPozos(calculator.PozosProyecto)">
						<span class="btn btn-danger" ng-show="calculatorForm.PozosProyecto.$error.pattern || calculatorForm.PozosProyecto.$invalid && calculatorForm.PozosProyecto.$dirty">No es un número válido !</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label>Número de rejillas</label>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<ul>
					<li class="item-option">
						<input type="radio" id="default-rejillas" name="rejillas" class="radio" ng-value="default_rejillas" ng-click="getRejillasAuto(calculator.KmEvaluables)" ng-model="calculator.RejillasProyecto" >
						<label class="label-field" for="default-rejillas"><small>Rejillas por default</small></label>
						
						<input type="number" ng-value="calculator.RejillasProyecto" class="form-control" placeholder="número" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.RejillasProyecto" disabled ng-focus="calculator.RejillasProyecto == ''" ng-if="calculator.RejillasProyecto == default_rejillas || flagRejillas === true" style="top: 15px;position: relative;">
					</li>
					<li class="item-option" style="display: inline-flex;display: -webkit-inline-flex;">
						<input type="radio" id="otra-rejilla" class="radio" name="rejillas" ng-value="custom_rejillas" ng-model="calculator.RejillasProyecto" ng-click="getRejillasCustom()" ng-checked="flagRejillas === false">
						<label class="label-field" for="otra-rejilla" ><small>Otro</small></label>
						<input type="number" id="otra-rejilla" class="form-control" placeholder="número" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.RejillasProyecto" ng-if="flagRejillas === false"  required>
						<span class="btn btn-danger" ng-show="calculatorForm.RejillasProyecto.$error.pattern || calculatorForm.RejillasProyecto.$invalid && calculatorForm.RejillasProyecto.$dirty">No es un número válido !</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label>Cocheras a lo largo del trayecto</label>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<ul>
					<li class="item-option">
						<input type="radio" id="default-cocheras" name="cocheras" class="radio" ng-value="default_cocheras" ng-click="getCocherasAuto(calculator.KmEvaluables)" ng-model="calculator.Cocheras">
						<label class="label-field" for="default-cocheras"><small>Por default</small></label>
						<input type="number" ng-value="calculator.Cocheras" class="form-control" placeholder="número" ng-pattern="/^[0-9]{1,7}$/" ng-model="calculator.Cocheras" disabled ng-focus="calculator.Cocheras == ''" ng-if="calculator.Cocheras == default_cocheras || flagCocheras === true" style="top: 15px;position: relative;">
					</li>
					<li class="item-option" style="display: inline-flex;display: -webkit-inline-flex;">
						<input type="radio" id="otra-cochera" class="radio" name="cocheras" ng-value="custom_cocheras" ng-model="calculator.Cocheras" ng-click="getCocherasCustom()" ng-checked="flagCocheras === false">
						<label class="label-field" for="otra-cochera" ><small>Otro</small></label>
						<input type="number" class="form-control" name="cocheras" placeholder="eg: 00" ng-pattern="/^[0-9]{1,7}$/" ng-if="flagCocheras === false" ng-model="calculator.Cocheras">
						<span class="btn btn-danger" ng-show="calculatorForm.Cocheras.$error.pattern || calculatorForm.Cocheras.$invalid && calculatorForm.Cocheras.$dirty">No es un número válido !</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<label>¿Cuántos biciestacionamientos habrá en el proyecto?</label>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<ul>
						<li class="item-option">
							<input type="radio" ng-value="default_bicie" id="default-bicie" name="biciestacionamiento" class="radio" ng-model="calculator.Biciestacionamientos" ng-click="getBicieAuto(calculator.KmEvaluables)" ng-checked="flagBicie == true">
							<label class="label-field" for="default-bicie"><small>Por default</small></label>
						</li>
						<li class="item-option" style="display: inline-flex;display: -webkit-inline-flex;">
							<input type="radio" id="custom-bicie" class="radio" name="biciestacionamientos" ng-value="custom_bicie" ng-click="getBicieCustom()" ng-checked="flagBicie === false" ng-model="calc.bicie">
							<label class="label-field" for="custom-bicie" ><small>Otro</small></label>

							<input type="number" class="form-control" name="biciestacionamientos" placeholder="eg: 00" ng-change="getBicie(calc.bicie)" ng-model="calc.bicie" ng-if="flagBicie === false" ng-focus="calc.bicie = ''" required>
							<span class="btn btn-danger" ng-show="calculatorForm.biciestacionamientos.$error.pattern || calculatorForm.biciestacionamientos.$invalid && calculatorForm.biciestacionamientos.$dirty">No es un número válido !</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label>Señalización durante el trayecto</label>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<ul>
					<li class="item-option">
						<input type="radio" value="MinSenalHor" id="señalizacion-minima" name="señalizacion" class="radio" ng-model="calculator.senalizacion" required>
						<label class="label-field" for="señalizacion-minima"><small>Los mínimos requeridos (señalización horizontal)</small></label>
					</li>
					<li class="item-option">
						<input type="radio" value="MaxSenalHor" id="señalizacion-completa" name="señalizacion" class="radio" ng-model="calculator.senalizacion" required>
						<label class="label-field" for="señalizacion-completa"><small>Señalización completa (señalización horizontal, señalización vertical)</small></label>
					</li>
				</ul>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label>Obra complementaria a la infraestructura</label>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<ul>
					<li class="item-option">
						<input type="radio" value="ObraCompl_Completa" id="compl-completa" name="complementaria" class="radio" ng-model="calculator.ObraComp" required>
						<label class="label-field" for="compl-completa"><small>Pintura en cruces peatonales, bolardos, banqueta y guías táctiles.</small></label>
					</li>
					<li class="item-option">
						<input type="radio" value="ObraCompl_Semi" id="compl-semi" name="complementaria" class="radio" ng-model="calculator.ObraComp" required>
						<label class="label-field" for="compl-semi"><small>Sólo pintura en cruces peatonales y bolardos.</small></label>
					</li>
					<li class="item-option">
						<input type="radio" value="ObraCompl_Basica" id="compl-basica" name="complementaria" class="radio" ng-model="calculator.ObraComp" required>
						<label class="label-field" for="compl-basica"><small>Sólo pintura en cruces peatonales.</small></label>
					</li>
				</ul>
			</div>
		</div>
		<div class="row calculator-form-row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label>¿Quieres añadir al costo el mantenimiento anual?</label>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<ul>
					<li class="item-option">
						<input type="radio" value="ConMantAnual" id="anadir-manto" name="mantenimiento" class="radio" ng-model="calculator.MantenimientoAnual" required>
						<label class="label-field" for="anadir-manto"><small>Si, añadir.</small></label>
					</li>
					<li class="item-option">
						<input type="radio" value="SinMantAnual" id="no-anadir" name="mantenimiento" class="radio" ng-model="calculator.MantenimientoAnual" required>
						<label class="label-field" for="no-anadir"><small>No, cotizar sin mantenimiento anual.</small></label>
					</li>
				</ul>
			</div>
		</div>
		<button class="btn btn-lg btn-success" ng-disabled="calculatorForm.$invalid" ng-click="saveQuote(calculatorForm, calculator)">COTIZAR</button>
	</section>
</div>