<div class="row calculator-form-c">
	<section class="calculator-project">
		<p>¿Qué infraestructura quieres cotizar? {{nombre}}</p>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<input type="radio" id="ciclovia" ng-model="calculator.infraestructura" name="ciclovia" value="Ciclovia" class="radio" ng-change="getType(calculator)">
			<article>
				<figcaption>Ciclovia</figcaption>
				<figure>
					<label for="ciclovia">
					<img src="./assets/ciclovia.jpg" style="width: 100%;">
					</label>
				</figure>
			</article>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
			<input type="radio" id="ciclocarril" ng-model="calculator.infraestructura" name="ciclocarril" value="Ciclocarril" class="radio" ng-change="getType(calculator)">
			<article >
				<figcaption>Ciclocarril</figcaption>
				<figure>
					<label for="ciclocarril" >
					<img src="./assets/ciclocarril.jpg" style="width: 100%;">
					</label>
				</figure>
			</article>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<input type="radio" id="busbici" ng-model="calculator.infraestructura" name="busbici" value="Bus-bici" class="radio" ng-change="getType(calculator)">
			<article>
				<figcaption>Bus-bici</figcaption>
				<figure>
					<label for="busbici" >
					<img src="./assets/busbici.jpg" style="width: 100%;">
					</label>
				</figure>
			</article>
		</div>
	</section>
</div>