<section class="about-container">
	<header id="header">
		<div class="container">
			<div class="about-icon" id="menu"><i class="emus-menu"></i></div>
			<div class="about-logo">
				<a href="#/">
					<img ng-src="./images/logo_itdp_30.png">
				</a>
			</div>
			<nav class="about-menu">
				<ul>
					<li><a class="item" href="#/">Inicio</a></li>
					<li><a ui-sref-active="active" class="item">Acerca de</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="about">
		<section class="container">
			<article class="breadcrumb">
				<div ncy-breadcrumb></div>
			</article>
			<article class="modality-header">
				<h1>{{title}}</h1>
			</article>
		</section>
	</section>
	<section class="about-body">
		<section class="row">
			<article class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
				<p>La <strong>Hoja de Ruta de proyectos de movilidad urbana sustentable</strong> es un esfuerzo conjunto entre la <a href="http://www.sedatu.gob.mx/sraweb/" target="_blank">SEDATU</a> e <a href="http://mexico.itdp.org/" target="_blank">ITDP México</a>, con apoyo del Fondo para la Prosperidad de la Embajada de Reino Unido en México, para apoyar la planeación, diseño, implementación y evaluación de proyectos de movilidad urbana sustentable.</p>
				<p>La Hoja de Ruta contempla las cinco modalidades de la Estrategia de Movilidad Urbana Sustentable de la <a href="http://www.sedatu.gob.mx/sraweb/" target="_blank">SEDATU</a>:</p>
				<ol>
					<li>Calles.</li>
					<li>Sistemas Integrados de Transporte.</li>
					<li>Gestión de la demanda.</li>
					<li>Gestión de la distribución de mercancías.</li>
					<li>Desarrollo Orientado al Transporte.</li>
				</ol>
				<p>Asimismo, la Hoja de Ruta pretende asesorar a tomadores de decisiones y ciudadanos en general en los distintas fases involucradas en el desarrollo de proyectos de movilidad urbana sustentable:</p>
				<ul>
					<li>Planeación.</li>
					<li>Diseño.</li>
					<li>Implementación.</li>
					<li>Evaluación.</li>
				</ul>
				<p>De esta forma, la Hoja de Ruta funciona mediante una matriz que guía de manera fácil y clara el desarrollo de los proyectos según su tipo y sus distintas fases.</p>
				<p>La Hoja de Ruta contempla una <strong>“Calculadora de Costos”</strong> en algunas de las modalidades, a fin de estimar de una forma rápida cuál es el costo total y unitario de ciertos proyectos. Esta herramienta puede ser de gran utilidad tanto para funcionarios y funcionarias de gobiernos locales interesados en la implementación de proyectos de movilidad urbana, así como para ciudadanos en general que interesados en temas de transparencia.</p>
			</article>
		</section>
	</section>
	<section class="logos">
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"><img src="./images/logo_itdp_30.png"></article>
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"><img src="./images/logo_embajada_britanica.png"></article>
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"	><img src="./images/logo_sedatu.png"></article>
	</section>
	<footer class="footer">
		<section class="footer-left">
			<ul>
				<li><a href="https://twitter.com/ITDPmx" target="_blank"><i class="emus-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/itdpmx" target="_blank"><i class="emus-facebook"></i></a></li>
				<li><a href="" target="_blank"><i class="emus-google"></i></a></li>
			</ul>
		</section>
		<section class="footer-right"><p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a></p></section>
	</footer>
</section>