<section class="modalities-streets">
	<section class="container">
		<section class="card-description">
			<h1>Calles</h1>
			<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
		</section>
		<section class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<article class="card">
					<div class="card-image">
						<img src="./images/card.jpg">
					</div>
					<div class="card-body">
						<h3>Infraestructura Ciclista</h3>
						<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear.</p>
					</div>
					<div class="card-action">
						<button class="btn btn-ghost1" ui-sref="modalidades.calculadora.tipo-de-proyecto">Escoger</button>
					</div>
				</article>
			</div>
		</section>
	</section>
</section>