@import "helpers/_mixins";
@import "helpers/_variables";

// Button success
.btn-g-success {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: $color-success;
	font-weight: normal;
	margin: 6px;
	padding: 6px;
}
.btn-g-success:focus,
.btn-g-success.focus,
.btn-g-success:hover {
	background-color: rgba($color-success, 0.9);
	border-color: transparent;
	color: #ffffff;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
// Button danger
.btn-g-danger {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: $color-danger;
	font-weight: normal;
	margin: 6px;
	padding: 6px;
}
.btn-g-danger:focus,
.btn-g-danger.focus,
.btn-g-danger:hover {
	background-color: rgba($color-danger, 0.9);
	border-color: transparent;
	color: #ffffff;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
// Button info
.btn-g-info {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: $color-info;
	font-weight: normal;
	margin: 6px;
	padding: 6px;
}
.btn-g-info:focus,
.btn-g-info.focus,
.btn-g-info:hover {
	background-color: rgba($color-info, 0.9);
	border-color: transparent;
	color: #ffffff;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
// Button area
.btn-area {
	background-color: transparent;
	border-color: #ffffff;
	box-shadow: none;
	color: #ffffff;
	font-weight: normal;
	margin: 6px;
	padding: 6px;
	line-height: 22px;
}
.btn-area:focus,
.btn-area.focus,
.btn-area:hover {
	background-color: #ffffff;
	border-color: transparent;
	color: $color-text;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
// Button select
.btn.btn-default.dropdown-toggle {
	background-color: transparent;
	border-bottom: 1px solid rgba($color-text, 0.5);
	border-left: 0;
	border-radius: 0;
	border-right: 0;
	border-top: 0;
	box-shadow: none;
	color: $color-text;
	font-weight: normal;
	margin: 6px;
	padding: 6px;
}
.btn.btn-default.dropdown-toggle:focus,
.btn.btn-default.dropdown-toggle.focus,
.btn.btn-default.dropdown-toggle:hover {
	background-color: transparent;
	border-color: transparent;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}

.btn-select.disabled,
.btn-select[disabled],
fieldset[disabled] .btn-select,
.btn-select.disabled:hover,
.btn-select[disabled]:hover,
fieldset[disabled] .btn-select:hover,
.btn-select.disabled:focus,
.btn-select[disabled]:focus,
fieldset[disabled] .btn-select:focus,
.btn-select.disabled.focus,
.btn-select[disabled].focus,
fieldset[disabled] .btn-select.focus,
.btn-select.disabled:active,
.btn-select[disabled]:active,
fieldset[disabled] .btn-select:active,
.btn-select.disabled.active,
.btn-select[disabled].active,
fieldset[disabled] .btn-select.active {
	background-color: $color-mod1;
	border-color: transparent;
}
.btn-select .badge {
	color: $color-mod1;
	background-color: #ffffff;
}
// Modalities button
.btn-modality {
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
}
.btn-modality:focus,
.btn-modality.focus,
.btn-modality:hover {
	color: #ffffff;
	background-color: transparent;
	//@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
// Landing button
.btn-landing {
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-weight: 300;
}
.btn-landing:focus,
.btn-landing.focus,
.btn-landing:hover {
	color: $color-text;
	background-color: #ffffff;
	//@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-landing1 {
	@include box-shadow(none);
	background-color: transparent;
	border: 1px solid #414C5A;
	color: #414C5A;
	font-weight: 300;
}
.btn-landing1:focus,
.btn-landing1.focus,
.btn-landing1:hover {
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
	background-color: #414C5A;
	color: #ffffff;
}
// Button Ghost 1
.btn-ghost1 {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: $color-mod1;
	margin: 6px;
	padding: 6px;
}
.btn-ghost1:focus,
.btn-ghost1.focus,
.btn-ghost1:hover {
	color: #ffffff;
	background-color: rgba($color-mod1,0.9);
	border-color: transparent;
	//@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-ghost1:active,
.btn-ghost1.active,
.open > .dropdown-toggle.btn-ghost1 {
	color: #ffffff;
	background-color: $color-mod1;
	border-color: $color-mod1;
	background-image: none;
}
.btn-ghost1:active:hover,
.btn-ghost1.active:hover,
.open > .dropdown-toggle.btn-ghost1:hover,
.btn-ghost1:active:focus,
.btn-ghost1.active:focus,
.open > .dropdown-toggle.btn-ghost1:focus,
.btn-ghost1:active.focus,
.btn-ghost1.active.focus,
.open > .dropdown-toggle.btn-ghost1.focus {
	color: #ffffff;
	background-color: rgba($color-mod1,0.90);
	border-color: transparent;
}
.btn-ghost1.disabled,
.btn-ghost1[disabled],
fieldset[disabled] .btn-ghost1,
.btn-ghost1.disabled:hover,
.btn-ghost1[disabled]:hover,
fieldset[disabled] .btn-ghost1:hover,
.btn-ghost1.disabled:focus,
.btn-ghost1[disabled]:focus,
fieldset[disabled] .btn-ghost1:focus,
.btn-ghost1.disabled.focus,
.btn-ghost1[disabled].focus,
fieldset[disabled] .btn-ghost1.focus,
.btn-ghost1.disabled:active,
.btn-ghost1[disabled]:active,
fieldset[disabled] .btn-ghost1:active,
.btn-ghost1.disabled.active,
.btn-ghost1[disabled].active,
fieldset[disabled] .btn-ghost1.active {
	background-color: $color-mod1;
	border-color: transparent;
}
.btn-ghost1 .badge {
	color: $color-mod1;
	background-color: #ffffff;
}
// Button Ghost 2
.btn-ghost2 {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: $color-mod2;
	margin: 6px;
	padding: 6px;
}
.btn-ghost2:focus,
.btn-ghost2.focus,
.btn-ghost2:hover {
	color: #ffffff;
	background-color: rgba($color-mod2,0.80);
	border-color: transparent;
	//@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-ghost2:active,
.btn-ghost2.active,
.open > .dropdown-toggle.btn-ghost2 {
	color: #ffffff;
	background-color: $color-mod2;
	border-color: $color-mod2;
	background-image: none;
}
.btn-ghost2:active:hover,
.btn-ghost2.active:hover,
.open > .dropdown-toggle.btn-ghost2:hover,
.btn-ghost2:active:focus,
.btn-ghost2.active:focus,
.open > .dropdown-toggle.btn-ghost2:focus,
.btn-ghost2:active.focus,
.btn-ghost2.active.focus,
.open > .dropdown-toggle.btn-ghost2.focus {
	color: #ffffff;
	background-color: rgba($color-mod2,0.90);
	border-color: transparent;
}
.btn-ghost2.disabled,
.btn-ghost2[disabled],
fieldset[disabled] .btn-ghost2,
.btn-ghost2.disabled:hover,
.btn-ghost2[disabled]:hover,
fieldset[disabled] .btn-ghost2:hover,
.btn-ghost2.disabled:focus,
.btn-ghost2[disabled]:focus,
fieldset[disabled] .btn-ghost2:focus,
.btn-ghost2.disabled.focus,
.btn-ghost2[disabled].focus,
fieldset[disabled] .btn-ghost2.focus,
.btn-ghost2.disabled:active,
.btn-ghost2[disabled]:active,
fieldset[disabled] .btn-ghost2:active,
.btn-ghost2.disabled.active,
.btn-ghost2[disabled].active,
fieldset[disabled] .btn-ghost2.active {
	background-color: transparent;
	border-color: transparent;
	color: rgba($color-mod2, 0.5);
}
.btn-ghost2 .badge {
	color: $color-mod2;
	background-color: #ffffff;
}
// Button Ghost 3
.btn-ghost3 {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: $color-mod3;
	margin: 6px;
	padding: 6px;
}
.btn-ghost3:focus,
.btn-ghost3.focus,
.btn-ghost3:hover {
	color: #ffffff;
	background-color: rgba($color-mod3,0.80);
	border-color: transparent;
	//@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-ghost3:active,
.btn-ghost3.active,
.open > .dropdown-toggle.btn-ghost3 {
	color: #ffffff;
	background-color: $color-mod3;
	border-color: $color-mod3;
	background-image: none;
}
.btn-ghost3:active:hover,
.btn-ghost3.active:hover,
.open > .dropdown-toggle.btn-ghost3:hover,
.btn-ghost3:active:focus,
.btn-ghost3.active:focus,
.open > .dropdown-toggle.btn-ghost3:focus,
.btn-ghost3:active.focus,
.btn-ghost3.active.focus,
.open > .dropdown-toggle.btn-ghost3.focus {
	color: #ffffff;
	background-color: rgba($color-mod3,0.90);
	border-color: transparent;
}
.btn-ghost3.disabled,
.btn-ghost3[disabled],
fieldset[disabled] .btn-ghost3,
.btn-ghost3.disabled:hover,
.btn-ghost3[disabled]:hover,
fieldset[disabled] .btn-ghost3:hover,
.btn-ghost3.disabled:focus,
.btn-ghost3[disabled]:focus,
fieldset[disabled] .btn-ghost3:focus,
.btn-ghost3.disabled.focus,
.btn-ghost3[disabled].focus,
fieldset[disabled] .btn-ghost3.focus,
.btn-ghost3.disabled:active,
.btn-ghost3[disabled]:active,
fieldset[disabled] .btn-ghost3:active,
.btn-ghost3.disabled.active,
.btn-ghost3[disabled].active,
fieldset[disabled] .btn-ghost3.active {
	background-color: $color-mod3;
	border-color: transparent;
}
.btn-ghost3 .badge {
	color: $color-mod3;
	background-color: #ffffff;
}
// Button Ghost 4
.btn-ghost4 {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: $color-mod4;
	margin: 6px;
	padding: 6px;
}
.btn-ghost4:focus,
.btn-ghost4.focus,
.btn-ghost4:hover {
	color: #ffffff;
	background-color: rgba($color-mod4,0.80);
	border-color: transparent;
	//@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-ghost4:active,
.btn-ghost4.active,
.open > .dropdown-toggle.btn-ghost4 {
	color: #ffffff;
	background-color: $color-mod4;
	border-color: $color-mod4;
	background-image: none;
}
.btn-ghost4:active:hover,
.btn-ghost4.active:hover,
.open > .dropdown-toggle.btn-ghost4:hover,
.btn-ghost4:active:focus,
.btn-ghost4.active:focus,
.open > .dropdown-toggle.btn-ghost4:focus,
.btn-ghost4:active.focus,
.btn-ghost4.active.focus,
.open > .dropdown-toggle.btn-ghost4.focus {
	color: #ffffff;
	background-color: rgba($color-mod4,0.90);
	border-color: transparent;
}
.btn-ghost4.disabled,
.btn-ghost4[disabled],
fieldset[disabled] .btn-ghost4,
.btn-ghost4.disabled:hover,
.btn-ghost4[disabled]:hover,
fieldset[disabled] .btn-ghost4:hover,
.btn-ghost4.disabled:focus,
.btn-ghost4[disabled]:focus,
fieldset[disabled] .btn-ghost4:focus,
.btn-ghost4.disabled.focus,
.btn-ghost4[disabled].focus,
fieldset[disabled] .btn-ghost4.focus,
.btn-ghost4.disabled:active,
.btn-ghost4[disabled]:active,
fieldset[disabled] .btn-ghost4:active,
.btn-ghost4.disabled.active,
.btn-ghost4[disabled].active,
fieldset[disabled] .btn-ghost4.active {
	background-color: $color-mod4;
	border-color: transparent;
}
.btn-ghost4 .badge {
	color: $color-mod4;
	background-color: #ffffff;
}
// Button Ghost 5
.btn-ghost5 {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: $color-mod5;
	margin: 6px;
	padding: 6px;
}
.btn-ghost5:focus,
.btn-ghost5.focus,
.btn-ghost5:hover {
	color: #ffffff;
	background-color: rgba($color-mod5,0.80);
	border-color: transparent;
	//@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-ghost5:active,
.btn-ghost5.active,
.open > .dropdown-toggle.btn-ghost5 {
	color: #ffffff;
	background-color: $color-mod5;
	border-color: $color-mod5;
	background-image: none;
}
.btn-ghost5:active:hover,
.btn-ghost5.active:hover,
.open > .dropdown-toggle.btn-ghost5:hover,
.btn-ghost5:active:focus,
.btn-ghost5.active:focus,
.open > .dropdown-toggle.btn-ghost5:focus,
.btn-ghost5:active.focus,
.btn-ghost5.active.focus,
.open > .dropdown-toggle.btn-ghost5.focus {
	color: #ffffff;
	background-color: rgba($color-mod5,0.90);
	border-color: transparent;
}
.btn-ghost5.disabled,
.btn-ghost5[disabled],
fieldset[disabled] .btn-ghost5,
.btn-ghost5.disabled:hover,
.btn-ghost5[disabled]:hover,
fieldset[disabled] .btn-ghost5:hover,
.btn-ghost5.disabled:focus,
.btn-ghost5[disabled]:focus,
fieldset[disabled] .btn-ghost5:focus,
.btn-ghost5.disabled.focus,
.btn-ghost5[disabled].focus,
fieldset[disabled] .btn-ghost5.focus,
.btn-ghost5.disabled:active,
.btn-ghost5[disabled]:active,
fieldset[disabled] .btn-ghost5:active,
.btn-ghost5.disabled.active,
.btn-ghost5[disabled].active,
fieldset[disabled] .btn-ghost5.active {
	background-color: $color-mod5;
	border-color: transparent;
}
.btn-ghost5 .badge {
	color: $color-mod5;
	background-color: #ffffff;
}
// Modalities buttons
.btn-mod1,
.btn-mod2,
.btn-mod3,
.btn-mod4,
.btn-mod5 {
	background-color: transparent;
	border-color: #ffffff;
	color: #ffffff;
}
// Button Mod 1

.btn-mod1:focus,
.btn-mod1.focus,
.btn-mod1:hover {
	color: #ffffff;
	background-color: rgba($color-mod1,0.90);
	border-color: transparent;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-mod1:active,
.btn-mod1.active,
.open > .dropdown-toggle.btn-mod1 {
	color: #ffffff;
	background-color: $color-mod1;
	border-color: $color-mod1;
	background-image: none;
}
.btn-mod1:active:hover,
.btn-mod1.active:hover,
.open > .dropdown-toggle.btn-mod1:hover,
.btn-mod1:active:focus,
.btn-mod1.active:focus,
.open > .dropdown-toggle.btn-mod1:focus,
.btn-mod1:active.focus,
.btn-mod1.active.focus,
.open > .dropdown-toggle.btn-mod1.focus {
	color: #ffffff;
	background-color: rgba($color-mod1,0.90);
	border-color: transparent;
}
.btn-mod1.disabled,
.btn-mod1[disabled],
fieldset[disabled] .btn-mod1,
.btn-mod1.disabled:hover,
.btn-mod1[disabled]:hover,
fieldset[disabled] .btn-mod1:hover,
.btn-mod1.disabled:focus,
.btn-mod1[disabled]:focus,
fieldset[disabled] .btn-mod1:focus,
.btn-mod1.disabled.focus,
.btn-mod1[disabled].focus,
fieldset[disabled] .btn-mod1.focus,
.btn-mod1.disabled:active,
.btn-mod1[disabled]:active,
fieldset[disabled] .btn-mod1:active,
.btn-mod1.disabled.active,
.btn-mod1[disabled].active,
fieldset[disabled] .btn-mod1.active {
	background-color: $color-mod1;
	border-color: transparent;
}
.btn-mod1 .badge {
	color: $color-mod1;
	background-color: #ffffff;
}
// Button Mod 2

.btn-mod2:focus,
.btn-mod2.focus,
.btn-mod2:hover {
	color: #ffffff;
	background-color: rgba($color-mod2,0.90);
	border-color: transparent;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-mod2:active,
.btn-mod2.active,
.open > .dropdown-toggle.btn-mod2 {
	color: #ffffff;
	background-color: $color-mod2;
	border-color: $color-mod2;
	background-image: none;
}
.btn-mod2:active:hover,
.btn-mod2.active:hover,
.open > .dropdown-toggle.btn-mod2:hover,
.btn-mod2:active:focus,
.btn-mod2.active:focus,
.open > .dropdown-toggle.btn-mod2:focus,
.btn-mod2:active.focus,
.btn-mod2.active.focus,
.open > .dropdown-toggle.btn-mod2.focus {
	color: #ffffff;
	background-color: rgba($color-mod2,0.90);
	border-color: transparent;
}
.btn-mod2.disabled,
.btn-mod2[disabled],
fieldset[disabled] .btn-mod2,
.btn-mod2.disabled:hover,
.btn-mod2[disabled]:hover,
fieldset[disabled] .btn-mod2:hover,
.btn-mod2.disabled:focus,
.btn-mod2[disabled]:focus,
fieldset[disabled] .btn-mod2:focus,
.btn-mod2.disabled.focus,
.btn-mod2[disabled].focus,
fieldset[disabled] .btn-mod2.focus,
.btn-mod2.disabled:active,
.btn-mod2[disabled]:active,
fieldset[disabled] .btn-mod2:active,
.btn-mod2.disabled.active,
.btn-mod2[disabled].active,
fieldset[disabled] .btn-mod2.active {
	background-color: $color-mod2;
	border-color: transparent;
}
.btn-mod2 .badge {
	color: $color-mod2;
	background-color: #ffffff;
}
// Button Mod 3
.btn-mod3:focus,
.btn-mod3.focus,
.btn-mod3:hover {
	color: #ffffff;
	background-color: rgba($color-mod3,0.90);
	border-color: transparent;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-mod3:active,
.btn-mod3.active,
.open > .dropdown-toggle.btn-mod3 {
	color: #ffffff;
	background-color: $color-mod3;
	border-color: $color-mod3;
	background-image: none;
}
.btn-mod3:active:hover,
.btn-mod3.active:hover,
.open > .dropdown-toggle.btn-mod3:hover,
.btn-mod3:active:focus,
.btn-mod3.active:focus,
.open > .dropdown-toggle.btn-mod3:focus,
.btn-mod3:active.focus,
.btn-mod3.active.focus,
.open > .dropdown-toggle.btn-mod3.focus {
	color: #ffffff;
	background-color: rgba($color-mod3,0.90);
	border-color: transparent;
}
.btn-mod3.disabled,
.btn-mod3[disabled],
fieldset[disabled] .btn-mod3,
.btn-mod3.disabled:hover,
.btn-mod3[disabled]:hover,
fieldset[disabled] .btn-mod3:hover,
.btn-mod3.disabled:focus,
.btn-mod3[disabled]:focus,
fieldset[disabled] .btn-mod3:focus,
.btn-mod3.disabled.focus,
.btn-mod3[disabled].focus,
fieldset[disabled] .btn-mod3.focus,
.btn-mod3.disabled:active,
.btn-mod3[disabled]:active,
fieldset[disabled] .btn-mod3:active,
.btn-mod3.disabled.active,
.btn-mod3[disabled].active,
fieldset[disabled] .btn-mod3.active {
	background-color: $color-mod3;
	border-color: transparent;
}
.btn-mod3 .badge {
	color: $color-mod3;
	background-color: #ffffff;
}
// Button Mod 4
.btn-mod4:focus,
.btn-mod4.focus,
.btn-mod4:hover {
	color: #ffffff;
	background-color: rgba($color-mod4,0.90);
	border-color: transparent;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-mod4:active,
.btn-mod4.active,
.open > .dropdown-toggle.btn-mod4 {
	color: #ffffff;
	background-color: $color-mod4;
	border-color: $color-mod4;
	background-image: none;
}
.btn-mod4:active:hover,
.btn-mod4.active:hover,
.open > .dropdown-toggle.btn-mod4:hover,
.btn-mod4:active:focus,
.btn-mod4.active:focus,
.open > .dropdown-toggle.btn-mod4:focus,
.btn-mod4:active.focus,
.btn-mod4.active.focus,
.open > .dropdown-toggle.btn-mod4.focus {
	color: #ffffff;
	background-color: rgba($color-mod4,0.90);
	border-color: transparent;
}
.btn-mod4.disabled,
.btn-mod4[disabled],
fieldset[disabled] .btn-mod4,
.btn-mod4.disabled:hover,
.btn-mod4[disabled]:hover,
fieldset[disabled] .btn-mod4:hover,
.btn-mod4.disabled:focus,
.btn-mod4[disabled]:focus,
fieldset[disabled] .btn-mod4:focus,
.btn-mod4.disabled.focus,
.btn-mod4[disabled].focus,
fieldset[disabled] .btn-mod4.focus,
.btn-mod4.disabled:active,
.btn-mod4[disabled]:active,
fieldset[disabled] .btn-mod4:active,
.btn-mod4.disabled.active,
.btn-mod4[disabled].active,
fieldset[disabled] .btn-mod4.active {
	background-color: $color-mod4;
	border-color: transparent;
}
.btn-mod4 .badge {
	color: $color-mod4;
	background-color: #ffffff;
}
// Button Mod 5
.btn-mod5:focus,
.btn-mod5.focus,
.btn-mod5:hover {
	color: #ffffff;
	background-color: rgba($color-mod5,0.90);
	border-color: transparent;
	@include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.btn-mod5:active,
.btn-mod5.active,
.open > .dropdown-toggle.btn-mod5 {
	color: #ffffff;
	background-color: $color-mod5;
	border-color: $color-mod5;
	background-image: none;
}
.btn-mod5:active:hover,
.btn-mod5.active:hover,
.open > .dropdown-toggle.btn-mod5:hover,
.btn-mod5:active:focus,
.btn-mod5.active:focus,
.open > .dropdown-toggle.btn-mod5:focus,
.btn-mod5:active.focus,
.btn-mod5.active.focus,
.open > .dropdown-toggle.btn-mod5.focus {
	color: #ffffff;
	background-color: rgba($color-mod5,0.90);
	border-color: transparent;
}
.btn-mod5.disabled,
.btn-mod5[disabled],
fieldset[disabled] .btn-mod5,
.btn-mod5.disabled:hover,
.btn-mod5[disabled]:hover,
fieldset[disabled] .btn-mod5:hover,
.btn-mod5.disabled:focus,
.btn-mod5[disabled]:focus,
fieldset[disabled] .btn-mod5:focus,
.btn-mod5.disabled.focus,
.btn-mod5[disabled].focus,
fieldset[disabled] .btn-mod5.focus,
.btn-mod5.disabled:active,
.btn-mod5[disabled]:active,
fieldset[disabled] .btn-mod5:active,
.btn-mod5.disabled.active,
.btn-mod5[disabled].active,
fieldset[disabled] .btn-mod5.active {
	background-color: $color-mod5;
	border-color: transparent;
}
.btn-mod5 .badge {
	color: $color-mod5;
	background-color: #ffffff;
}