@mixin box-shadow($args...){
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-ms-box-shadow: $args;
	box-shadow: $args;
}
@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}
@mixin background-size($bsize){
	-webkit-background-size: $bsize;
	-moz-background-size: $bsize;
	-o-background-size: $bsize;
	-ms-background-size: $bsize;
	background-size: $bsize;
}
@mixin transform($trans){
	-webkit-transform: $trans;
	-moz-transform: $trans;
	-o-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}
@mixin backface-visibility($trans){
	-webkit-backface-visibility: $trans;
	-moz-backface-visibility: $trans;
	-o-backface-visibility: $trans;
	-ms-backface-visibility: $trans;
	backface-visibility: $trans;
}