$break-sm: 48em; // >= 768px @ 16px
$break-md: 62em; // >= 992px @ 16px
$break-lg: 75em; // >= 1200px @ 16px

// @include respond-to( );
@mixin respond-to( $condition ) {
	@if $condition == 'sm' { @media ( min-width: $break-sm ) { @content; } }
	@if $condition == 'md' { @media ( min-width: $break-md ) { @content; } }
	@if $condition == 'lg' { @media ( min-width: $break-lg ) { @content; } }
}
@mixin box-shadow($args...){
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-ms-box-shadow: $args;
	box-shadow: $args;
}
@mixin transition($args...){
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	-ms-transition: $args;
	transition: $args;
}
@mixin background-size($bsize){
	-webkit-background-size: $bsize;
	-moz-background-size: $bsize;
	-o-background-size: $bsize;
	-ms-background-size: $bsize;
	background-size: $bsize;
}
@mixin transform($trans){
	-webkit-transform: $trans;
	-moz-transform: $trans;
	-o-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}
@mixin transform-translate($x, $y){
		@if($x != null){
				-webkit-transform: translateX($x);
				-moz-transform   : translateX($x);
				-o-transform     : translateX($x);
				-ms-transform    : translateX($x);
				transform        : translateX($x);
		}
		@if($y != null){
				-webkit-transform: translateY($y);
				-moz-transform   : translateY($y);
				-o-transform     : translateY($y);
				-ms-transform    : translateY($y);
				transform        : translateY($y);
		}
}
@mixin backface-visibility($trans){
	-webkit-backface-visibility: $trans;
	-moz-backface-visibility: $trans;
	-o-backface-visibility: $trans;
	-ms-backface-visibility: $trans;
	backface-visibility: $trans;
}