<section class="modality">
	<section class="modality-container">
		<section class="container">
			<article class="breadcrumb">
				<div ncy-breadcrumb></div>
			</article>
			<article class="modality-header">
				<h1 class="title-section">{{title}}</h1>
				<ul ng-if="showModalities()">
					<li><button class="btn btn-mod1" ui-sref-active="active" ui-sref="modalidades.tipo({tipo: '1'})" >CALLES</button></li>
					<li><button class="btn btn-mod2" ui-sref-active="active" ui-sref="modalidades.tipo({tipo: '2'})">SISTEMAS INTEGRADOS DE TRANSPORTE</button></li>
					<li><button class="btn btn-mod3" ui-sref-active="active" ui-sref="modalidades.tipo({tipo: '3'})">DESARROLLO ORIENTADO AL TRANSPORTE</button></li>
					<li><button class="btn btn-mod4" ui-sref-active="active" ui-sref="modalidades.tipo({tipo: '4'})">GESTIÓN DE LA DEMANDA</button></li>
					<li><button class="btn btn-mod5" ui-sref-active="active" ui-sref="modalidades.tipo({tipo: '5'})">CARGA URBANA</button></li>
				</ul>
			</article>
		</section>
	</section>
	<section class="Quote" ui-view>
		<section class="modality-description">
			<section class="card-description container">
				<p>La EMUS incluye cinco modalidades, cada una de ellas con distinto tipo de proyectos. En conjunto, las 5 modalidades permiten implementar una estrategia integral encaminada a mejorar los sistemas de transporte urbano y gestionar de manera efectiva el uso de los vehículos privados. Al dar click en cada modalidad podrás encontrar el tipo de proyectos que puede ser implementado cada caso, así como una guía técnica que brinda orientación en todas las fases del proyecto (planeación, diseño, implementación y evaluación).</p>
			</section>
		</section>
	</section>
</section>