<section class="modality">
	<header id="header">
		<div class="container">
			<div class="landing-icon" id="menu"><i class="emus-menu"></i></div>
			<div class="langind-logo">
				<a href="#/">
					<img src="./images/logo_itdp_30.png">
				</a>
			</div>
			<nav class="landing-menu">
				<ul>
					<li><a class="item" href="#start">Inicio</a></li>
					<!-- <li><a class="item" href="#who">Matriz</a></li>
					<li><a class="item" href="#about">Modalidades</a></li> -->
					<li><a class="item" href="#about">Acerca de</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="modality-container">
		<section class="container">
			<article class="modality-breadcrumb">
				<div ncy-breadcrumb></div>
			</article>
			<article class="modality-header">
				<h1>MODALIDADES DE LOS EMUS</h1>
				<ul ng-hide>
					<li><button id="calles" class="btn btn-mod1" ui-sref-active="active" ui-sref="modalidades.tipo({tipo:'calles'})" >CALLES</button></li>
					<li><button class="btn btn-mod2">SISTEMAS INTEGRADOS DE TRANSPORTE</button></li>
					<li><button class="btn btn-mod3">DESARROLLO ORIENTADO AL TRANSPORTE</button></li>
					<li><button class="btn btn-mod4">GESTIÓN DE LA DEMANDA</button></li>
					<li><button class="btn btn-mod5">CARGA URBANA</button></li>
				</ul>
			</article>
		</section>
	</section>
	<section class="Quote" ui-view>
		<section class="modality-description">
			<section class="card-description container">
				<h1>Modalidades</h1>
				<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
			</section>
		</section>
	</section>
</section>