@import "helpers/_mixins";
@import "helpers/_variables";
@import "helpers/_forms";
@import "components/_btp-buttons";
@import "components/_my-buttons";
@import "components/_input";
@import "components/landing/_landing";
@import "components/about/_about";
@import "components/modalities/_modalities";
@import "components/calculator/_calculator";
@import "components/calculator/_project";
@import "components/calculator/_modal";
@import "components/calculator/_summary";
body{
	font-family: 'Roboto', sans-serif;
}
h1,h2{
	font-family: 'Montserrat', sans-serif;
}
p, span,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
}