<section class="modalities-type">
	<section class="container">
		<section class="card-description">
			<h2>{{modalidad.nombre}}</h2>
			<p>{{modalidad.descripcion}}</p>
		</section>
		<section class="row">
			<div deckgrid class="deckgrid column-1-3 col-xs-12" source="modalidad.proyectos">
				<article class="card">
					<div class="card-image">
						<img ng-src="./images/{{mother.modalidad.imagen_url}}.jpg">
					</div>
					<div class="card-body" >
						<h3>{{mother.modalidad.nombre}}</h3>
						<i class="emus-more" more-description="mother.modalidad.id_modalidad"></i>
					</div>
					<div id="{{modalidad.id}}" class="card-sdescription">
						<h3>{{mother.modalidad.nombre}}</h3>
						<p>{{mother.modalidad.descripcion}}</p>
						<i class="emus-close" hide-description="mother.modalidad.id_modalidad"></i>
					</div>
					<div class="card-action" ng-if="mother.modalidad.calculadora === Activo">
						<button class="btn btn-{{mother.modalidad.clase}}" ui-sref="modalidades.calculadora.formulario">Escoger</button>
					</div>
				</article>
			</div>
		</section>
	</section>
</section>