<section class="modalities-type">
	<section class="container">
		<section class="card-description">
			<h2>{{set_m.nombre}}</h2>
			<p>{{set_m.descripcion}}</p>
		</section>
		<section class="row">
			<div deckgrid class="deckgrid column-1-3 col-xs-12" source="set_m.proyectos">
				<article class="card">
					<div class="card-image">
						<img ng-src="http://52.8.65.73/emus-itdp/admin/assets/uploads/files/{{card.imagen_url}}">
					</div>
					<div class="card-body" >
						<h3>{{card.nombre}}</h3>
						<i class="emus-more" more-description="card.id_proyecto"></i>
					</div>
					<div id="{{card.id_proyecto}}" class="card-sdescription">
						<h3>{{card.nombre}}</h3>
						<p>{{card.descripcion}}</p>
						<i class="emus-close" hide-description="card.id_proyecto"></i>
					</div>
					<div class="card-action">
						<button ng-if="card.calculadora == 'Activo'" class="btn btn-{{mother.set_m.clase}}" ui-sref="modalidades.calculadora.formulario" >{{card.calculadora}}</button>
					</div>
				</article>
			</div>
		</section>
	</section>
</section>