<section class="modalities-streets">
	<section class="container">
		<section class="card-description">
			<h2>Calles</h2>
			<p>Es el espacio urbano por el cual las personas se desplazan. Es también, un espacio con gran relevancia social al ser un medio de intercambio e interacción.</p>
		</section>
		<section class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<article class="card">
					<div class="card-image">
						<img src="./images/card.jpg">
					</div>
					<div class="card-body">
						<h3>Infraestructura Ciclista</h3>
						<p>Combinación de vías para la circulación exclusiva o preferente de ciclistas que permitan el desplazamiento de los usuarios de forma segura, eficiente y cómoda creando una red.</p>
					</div>
					<div class="card-action">
						<button class="btn btn-ghost1" ui-sref="modalidades.calculadora.formulario">Escoger</button>
					</div>
				</article>
			</div>
		</section>
	</section>
</section>