<section class="modalities-type">
	<section class="container">
		<section class="card-description">
			<h2>{{set_m.modality}}</h2>
			<p>{{set_m.modality_description}}</p>
		</section>
		<section class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="sub in set_m.submodalities">
				<article class="card">
					<div class="card-image">
						<img ng-src="./images/{{set_m.image}}.jpg">
					</div>
					<div class="card-body" >
						<h3>{{sub.submodality}}</h3>
						<p>{{sub.submodality_description}}</p>
					</div>
					<div class="card-action">
						<button class="btn btn-{{set_m.class}}" ui-sref="modalidades.calculadora.formulario">Escoger</button>
					</div>
				</article>
			</div>
		</section>
	</section>
</section>