@import "helpers/_mixins";
@import "helpers/_variables";
@import "helpers/_forms";
@import "components/_btp-buttons";
@import "components/_my-buttons";
@import "components/_input";
@import "components/landing/_landing";
@import "components/modalities/_modalities";
@import "components/calculator/_calculator";
body{
	font-family: 'Roboto', sans-serif;
}
h1,h2{
	font-family: 'Montserrat', sans-serif;
}
p, span,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
}

.card{
	@include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
	border-radius:3px;
	display: inline-block;
	margin-bottom:30px;
}
.card-body{
	h3{
		color: $color-text;
		display:block;
		font-weight:400;
		line-height: 28px;
		margin:18px 12px 12px;
	}
	p{
		margin:18px 12px 12px;
		font-weight:300;
		color: $color-text;
	}
}
.card-image>img{
	width:100%;
	height:auto;
}
.card-action{
	border-top:1px solid rgba($color-text,0.15);
	display:flex;
	display:-webkit-flex;
	flex-direction: row-reverse;
	-webkit-flex-direction:row-reverse;
}