<section class="modalities-container">
	<section class="modalities">
		<section class="container">
			<article class="breadcrumb">
				<small>INICIO > MODALIDADES</small>
			</article>
			<article class="modalities-body">
				<h1>MODALIDADES DE LOS EMUS</h1>
				<ul ng-hide>
					<li><button class="btn btn-mod1" ui-sref-active="active" ui-sref="modalidades.calles">CALLES</button></li>
					<li><button class="btn btn-mod2">SISTEMAS INTEGRADOS DE TRANSPORTE</button></li>
					<li><button class="btn btn-mod3">DESARROLLO ORIENTADO AL TRANSPORTE</button></li>
					<li><button class="btn btn-mod4">GESTIÓN DE LA DEMANDA</button></li>
					<li><button class="btn btn-mod5">CARGA URBANA</button></li>
				</ul>
			</article>
		</section>
	</section>
	<section class="Quote container" ui-view>
		<section class="card-description">
			<h1>Modalidades</h1>
			<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
		</section>
	</section>
</section>