		<div class="container">
			<div class="jumbotron">
				<button class="btn btn-mod1">Button 1</button>
				<button class="btn btn-mod2">Button 2</button>
				<button class="btn btn-mod3">Button 3</button>
				<button class="btn btn-mod4">Button 4</button>
				<button class="btn btn-mod5">Button 5</button>
				<button class="btn btn-primary btn-xs">Button 1</button>
				<button class="btn btn-success btn-sm">Button 2</button>
				<button class="btn btn-info">Button 3</button>
				<button class="btn btn-warning btn-lg">Button 4</button>
				<button class="btn btn-danger">Button 5</button>
			</div>
			<br>
			<section class="cards row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<article class="card">
						<div class="card-image">
							<img src="./assets/card.jpg">
						</div>
						<div class="card-body">
							<h3>Ciclovías</h3>
							<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear.</p>
						</div>
						<div class="card-action">
							<button class="btn btn-ghost1">Escoger</button>
							<button class="btn btn-ghost1">Guía técnica</button>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<article class="card">
						<div class="card-image">
							<img src="./assets/card.jpg">
						</div>
						<div class="card-body">
							<h3>Ciclovías</h3>
							<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear.</p>
						</div>
						<div class="card-action">
							<button class="btn btn-ghost4">Escoger</button>
							<button class="btn btn-ghost4">Guía técnica</button>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<article class="card">
						<div class="card-image">
							<img src="./assets/card.jpg">
						</div>
						<div class="card-body">
							<h3>Ciclovías</h3>
							<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear.</p>
						</div>
						<div class="card-action">
							<button class="btn btn-ghost5">Escoger</button>
							<button class="btn btn-ghost5">Guía técnica</button>
						</div>
					</article>
				</div>
			</section>
		</div>