<section class="landing-container" id="start">
	<header id="header">
		<div class="container">
			<div class="landing-icon" id="menu"><i class="emus-menu"></i></div>
			<div class="langind-logo">
				<a href="#/">
					<img ng-src="./images/logo_itdp_30.png">
				</a>
			</div>
			<nav class="landing-menu">
				<ul>
					<li><a class="item active" href="#start">Inicio</a></li>
					<li><a class="item"  ui-sref="acerca">Acerca de</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="titles text-center">
		<section class="row" style="margin: 0;">
			<article class="col-lg-12">
				<h1>HOJA DE RUTA DE PROYECTOS DE MOVILIDAD URBANA SUSTENTABLE</h1>
				<h2>La Hoja de Ruta es una plataforma en línea desarrollada por la Secretaría de Desarrollo Agrario, Territorial y Urbano (SEDATU) en colaboración con ITDP México para apoyar la planeación, diseño, implementación y evaluación de proyectos de movilidad urbana sustentable.</h2>
				<hr>
			</article>
		</section>
		<div href="#platform" du-smooth-scroll="" du-scrollspy="" offset="65" style="display: inline-block;cursor: pointer;"><i class="emus-down-arrow"></i>
			</div>
	</section>
	<section class="platform" id="platform">
		<section class="container">
			<section class="row p-matrix">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<article>
						<h1>Estructura de la Hoja de Ruta</h1>
						<h4>Matriz de procedimientos</h4>
						<p>La plataforma está organizada de acuerdo a las distintas modalidades de la Estrategia de Movilidad Urbana Sustentable y los diferentes pasos que se requieren para el desarrollo de proyectos. Da click para comenzar a explorar la Hoja de Ruta.</p>
						<button class="btn btn-lg btn-landing1">EXPLORAR</button>
					</article>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<figure>
						<img src="./images/matriz.png" alt="Matriz">
					</figure>
				</div>
			</section>
			<section class="row p-modalities">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<article>
						<h1>Calculadora de Costos</h1>
						<h4>Modalidades de la Estrategia de Movilidad Urbana Sustentable</h4>
						<p>Selecciona la modalidad de la EMUS que te interese y descubre el tipo de proyecto que se puede desarrollar, así como su costo estimado.</p>
						<button class="btn btn-lg btn-landing1" ui-sref="modalidades">EXPLORAR</button>
					</article>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<figure>
						<img ng-src="./images/modalidades.png" alt="Modalidades">
					</figure>
				</div>
			</section>
		</section>
	</section>
	<section class="who" id="who">
		<section class="container">
			<h1 class="text-center">¿A quién está dirigida la Hoja de Ruta?</h1>
			<section class="row">
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<section class="who-header text-center">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md 4 col-lg-4"><i class="emus-user"></i></div>
							<div class="col-xs-12 col-sm-8 col-md 8 col-lg-8"><h1>Sociedad civil</h1></div>
						</div>
					</section>
					<section class="who-body">
						<ul>
							<li><i class="emus-right-arrow"></i><p>Ciudadanos y ciudadanas interesados en temas de movilidad urbana sustentable.</p></li>
							<li><i class="emus-right-arrow"></i><p>Grupos y/o colectivos que busquen desarrollar proyectos ciudadanos de movilidad.</p></li>
							<li><i class="emus-right-arrow"></i><p>Público en general preocupado por temas de transparencia y uso de datos.</p></li>
						</ul>
					</section>
				</article>
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<section class="who-header text-center">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md 4 col-lg-4"><i class="emus-user"></i></div>
							<div class="col-xs-12 col-sm-8 col-md 8 col-lg-8"><h1>Gobierno</h1></div>
						</div>
					</section>
					<section class="who-body">
						<ul>
							<li><i class="emus-right-arrow"></i><p>Funcionarios públicos de nivel local con interés en el desarrollo de proyectos de movilidad urbana sustentable.</p></li>
						</ul>
					</section>
				</article>
			</section>
		</section>
	</section>
		<!-- 	<section class="matrix">
		<div class="container">
			<h1 class="text-center">¿Quiénes pueden usar la plataforma?</h1>
			<section class="matrix-body">
				<ul>
					<li>MODALIDADES / PROCEDIMIENTOS</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
				<ul>
					<li>mod</li>
					<li>dos-2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
			</section>
		</div>
	</section> -->
	<section class="logos">
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"><img src="./images/logo_itdp_30.png"></article>
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"><img src="./images/logo_embajada_britanica.png"></article>
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"	><img src="./images/logo_sedatu.png"></article>
	</section>
	<footer class="footer">
		<section class="footer-left">
			<ul>
				<li><a href="https://twitter.com/ITDPmx" target="_blank"><i class="emus-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/itdpmx" target="_blank"><i class="emus-facebook"></i></a></li>
				<li><a href="" target="_blank"><i class="emus-google"></i></a></li>
			</ul>
		</section>
		<section class="footer-right"><p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a></p></section>
	</footer>
</section>