<section class="landing-container" id="start">
	<header id="header">
		<div class="container">
			<div class="landing-icon" id="menu"><i class="emus-menu"></i></div>
			<div class="langind-logo">
				<a href="#/">
					<img src="./images/logo_itdp_30.png">
				</a>
			</div>
			<nav class="landing-menu">
				<ul>
					<li><a class="item" href="#start">Inicio</a></li>
					<!-- <li><a class="item" href="#who">Matriz</a></li>
					<li><a class="item" href="#about">Modalidades</a></li> -->
					<li><a class="item" href="#about">Acerca de</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="titles text-center">
		<section class="row" style="margin: 0;">
			<article class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
				<h1>ESTRATÉGIA DE MOVILIDAD URBANA SUSTENTABLE</h1>
				<h2>Emus es una hoja de ruta para la implementación de proyectos de movilidad urbana sustentable en sus diferentes modalidades.</h2>
				<hr>
			</article>
			<article class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
				<h2>Mediante la matriz de capacitación/aprendizaje, podrás saber qué tipo de procedimientos hay que realizar antes de implementar un proyecto.</h2>
				<button class="btn btn-lg btn-landing">MATRIZ</button>
				<br>
				<h2>Escoge un proyecto en una modalidad y calcular el costo del mismo.</h2>
				<button class="btn btn-lg btn-landing text-left" ui-sref="modalidades" >MODALIDADES</button>
			</article>
		</section>
		<div href="#who" du-smooth-scroll="" du-scrollspy="" offset="60" style="display: inline-block;cursor: pointer;"><i class="emus-down-arrow"></i>
			</div>
	</section>
	
	<section class="who" id="who">
		<section class="container">
			<h1 class="text-center">¿Quiénes pueden usar la plataforma?</h1>
			<section class="row">
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<section class="who-header text-center">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md 4 col-lg-4"><i class="emus-user"></i></div>
							<div class="col-xs-12 col-sm-8 col-md 8 col-lg-8"><h1>Sociedad civil</h1></div>
						</div>
					</section>
					<section class="who-body">
						<ul>
							<li><i class="emus-arrow-right"></i><p>Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.</p></li>
							<li><i class="emus-arrow-right"></i><p>Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.</p></li>
							<li><i class="emus-arrow-right"></i><p>Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.</p></li>
						</ul>
					</section>
				</article>
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<section class="who-header text-center">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md 4 col-lg-4"><i class="emus-user"></i></div>
							<div class="col-xs-12 col-sm-8 col-md 8 col-lg-8"><h1>Gobierno</h1></div>
						</div>
					</section>
					<section class="who-body">
						<ul>
							<li><i class="emus-arrow-right"></i><p>Para capacitación de funcionarios.</p></li>
							<li><i class="emus-arrow-right"></i><p>Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.</p></li>
							<li><i class="emus-arrow-right"></i><p>Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.</p></li>
						</ul>
					</section>
				</article>
			</section>
		</section>
		<!-- <section class="container">
			<h2 class="text-center">¿Para quiénes?</h2>
			<section class="row">
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<i class="emus-user"></i>
					<p>Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.</p>
				</article>
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<i class="emus-users"></i>
					<p>Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.</p>
				</article>
			</section>
		</section> -->
	</section>
	<section class="matrix">
		<div class="container">
			<h1 class="text-center">¿Quiénes pueden usar la plataforma?</h1>
			<section class="matrix-body">
				<ul>
					<li>MODALIDADES / PROCEDIMIENTOS</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
				<ul>
					<li>mod</li>
					<li>dos-2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>5</li>
				</ul>
			</section>
		</div>
	</section>
	<section class="logos">
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"><img src="./images/logo_itdp_30.png"></article>
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"><img src="./images/logo_embajada_britanica.png"></article>
		<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"	><img src="./images/logo_sedatu.png"></article>
	</section>
	<footer class="footer">
		<section class="footer-left">
			<ul>
				<li><a href="https://twitter.com/ITDPmx" target="_blank"><i class="emus-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/itdpmx" target="_blank"><i class="emus-facebook"></i></a></li>
				<li><a href="" target="_blank"><i class="emus-google"></i></a></li>
			</ul>
		</section>
		<section class="footer-right"><p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a></p></section>
	</footer>
</section>