<section class="matrix">
	<section class="matrix-container">
		<div class="container">
			<article class="breadcrumb">
				<div ncy-breadcrumb></div>
			</article>
			<article class="modality-header">
				<h1 class="title-section">Matriz de procedimientos</h1>
			</article>
		</div>
	</section>
	<div ui-view>
		<section class="matrix-body">
			<div class="container">
				<h1 class="big-title">¿Quiénes pueden usar la plataforma?</h1>
				<div class="row">
					<div class="small-hidden col-xs-3 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-2 col-lg-2 ">
						<ul class="matrix-modalities">
							<li class="matrix-row"></li>
							<li class="matrix-row matrix-modalities--item"><span class="vertical-align">Calles</span></li>
							<li class="matrix-row matrix-modalities--item"><span class="vertical-align">Sistemas Integrados de Transporte</span></li>
							<li class="matrix-row matrix-modalities--item"><span class="vertical-align">Desarrollo Orientado al Transporte</span></li>
							<li class="matrix-row matrix-modalities--item"><span class="vertical-align">Gestion de la Demanda</span></li>
							<li class="matrix-row matrix-modalities--item"><span class="vertical-align">Carga Urbana</span></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-6 col-lg-5">
						<ul class="matrix-steps--hidden matrix-steps">
							<li class="matrix-steps--item matrix-row"><span class="vertical-align">Planeación</span></li>
							<li class="matrix-steps--item matrix-row"><span class="vertical-align">Desarrollo</span></li>
							<li class="matrix-steps--item matrix-row"><span class="vertical-align">Implementación</span></li>
							<li class="matrix-steps--item matrix-row"><span class="vertical-align">Evaluación y Monitoreo</span></li>
						</ul>
						<ul class="matrix-grid">
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-11">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="planeacion" phase-name="Planeación" modality-url="calles" modality-name="Calles" phase-id="1" modality-id="1">1</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-12">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="diseno" phase-name="Diseño" modality-url="calles" modality-name="Calles" phase-id="2" modality-id="1">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-13">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="implementacion" phase-name="Implementación" modality-url="calles" modality-name="Calles" phase-id="3" modality-id="1">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-14">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="evaluacion-y-monitoreo" phase-name="Evaluación y monitoreo" modality-url="calles" modality-name="Calles" phase-id="4" modality-id="1">Ver más</span>
							</li>
						</ul>
						<ul class="matrix-grid">
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-21">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="planeacion" phase-name="Planeación" modality-url="sistemas-integrados-de-transporte" modality-name="Sistemas Integrados de Transporte" phase-id="1" modality-id="2">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-22">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="diseno" phase-name="Diseño" modality-url="sistemas-integrados-de-transporte" modality-name="Sistemas Integrados de Transporte" phase-id="2" modality-id="2">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-23">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="implementacion" phase-name="Implementación" modality-url="sistemas-integrados-de-transporte" modality-name="Sistemas Integrados de Transporte" phase-id="3" modality-id="2">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-24">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="evaluacion-y-monitoreo" phase-name="Evaluación y monitoreo" modality-url="sistemas-integrados-de-transporte" modality-name="Sistemas Integrados de Transporte" phase-id="4" modality-id="2">Ver más</span>
							</li>
						</ul>
						<ul class="matrix-grid">
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-31">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="planeacion" phase-name="Planeación" modality-url="desarrollo-orientado-al-transporte" modality-name="Desarrollo Orientado al Tranporte" phase-id="1" modality-id="3">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-32">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="diseno" phase-name="Diseño" modality-url="desarrollo-orientado-al-transporte" modality-name="Desarrollo Orientado al Tranporte" phase-id="2" modality-id="3">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-33">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="implementacion" phase-name="Implementación" modality-url="desarrollo-orientado-al-transporte" modality-name="Desarrollo Orientado al Tranporte" phase-id="3" modality-id="3">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-34">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="evaluacion-y-monitoreo" phase-name="Evaluación y monitoreo" modality-url="desarrollo-orientado-al-transporte" modality-name="Desarrollo Orientado al Tranporte" phase-id="4" modality-id="3">Ver más</span>
							</li>
						</ul>
						<ul class="matrix-grid">
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-41">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="planeacion" phase-name="Planeación" modality-url="gestion-de-la-demanda" modality-name="Gestion de la Demanda" phase-id="1" modality-id="4">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-42">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="diseno" phase-name="Diseño" modality-url="gestion-de-la-demanda" modality-name="Gestion de la Demanda" phase-id="2" modality-id="4">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-43">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="implementacion" phase-name="Implementación" modality-url="gestion-de-la-demanda" modality-name="Gestion de la Demanda" phase-id="3" modality-id="4">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-44">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="evaluacion-y-monitoreo" phase-name="Evaluación y monitoreo" modality-url="gestion-de-la-demanda" modality-name="Gestion de la Demanda" phase-id="4" modality-id="4">Ver más</span>
							</li>
						</ul>
						<ul class="matrix-grid matrix-grid--last">
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-51">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="planeacion" phase-name="Planeación" modality-url="carga-urbana" modality-name="Carga Urbana" phase-id="1" modality-id="5">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-52">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="diseno" phase-name="Diseño" modality-url="carga-urbana" modality-name="Carga Urbana" phase-id="2" modality-id="5">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-53">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="implementacion" phase-name="Implementación" modality-url="carga-urbana" modality-name="Carga Urbana" phase-id="3" modality-id="5">Ver más</span>
							</li>
							<li class="matrix-row matrix-grid--item matrix-grid--item__click js-id-54">
								<span class="vertical-align matrix-grid--item__span" js-cell phase-url="evaluacion-y-monitoreo" phase-name="Evaluación y monitoreo" modality-url="carga-urbana" modality-name="Carga Urbana" phase-id="4" modality-id="5">Ver más</span>
							</li>
						</ul>
						<div class="row centered">
							<js-modality></js-modality>
							<js-step></js-step>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>