@import "helpers/_mixins";
.modal-backdrop.fade,
.modal-backdrop.in,
.fade.in{
	@include transition(opacity 0.25s linear);
}
.modal-open,
.modal.fade .modal-dialog,
.modal.in .modal-dialog{
	@include transition(transform 0.25s linear);
}
.dropdown-menu{
	margin: 6px;
	padding: 0px;
	@include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
	li{
		a{
			color: $color-text;
			font-weight: 300;
			outline: 0;
			padding: 8px 8px;
			&:hover,
			&:focus{
				background-color: rgba($color-text, 0.125);
			}
		}
	}
}
.caret {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px dashed rgba($color-text, 0.75);
}