.calculator-project{
	overflow: hidden;
	>div{
		margin-bottom: 20px;
	}
	article{
		position: relative;
		@include backface-visibility(hidden);
		@include transition(all 0.5s linear);
		overflow: hidden;
		position: relative;
		z-index: 10;
		figcaption{
			@include transition(all 0.5s linear);
			background-color: rgba($color-mod1, 0.75);
			color: #ffffff;
			margin: 5px;
			padding: 10px 15px;
			position: absolute;
			top: 0;
			z-index: 10;
		}
		figure
		label{
			background-color:#000000;
			padding: 0;
			img{
				opacity: 0.5;
				@include backface-visibility(hidden);
				@include transform(scale(1));
				@include transition(all 0.5s linear);
				cursor: pointer;
				display: block;
				height: auto;
				max-width: 100%;
				transition: none;
			}
		}
	}
}
@media (min-width: 768px) {
	.calculator-project{
		>div{
			margin: 0;
		}
		article{
			figure{
				label{
					background-color:#000000;
					margin: 0;
					overflow: hidden;
					img{
						@include backface-visibility(hidden);
						@include transform(scale(1));
						@include transition(all 0.15s linear);
					}
				}
			}
			&:hover{
				figure label img{
					opacity: 1;
				}
				figcaption{
					visibility: visible;
					@include transition(all 0.15s linear);
				}
				figure img{
					@include transform(scale(1.25));
					@include transition(all 0.15s linear);
				}
			}
		}
	}
}