.amcharts-chart-div{
	svg:root{
		padding: 10px;
	}
}
#Ingresos > div > div.amcharts-chart-div > a{
	color: #888;
	left: 99px;
	opacity: 0.7;
	top: 0;
}
.summary{
	margin-top: 40px;
	> section{
		padding: 0;
	}
}
.summary-header{
	background-color: #ffffff;
	h4{
		color: $color-text;
		font-weight: normal;
		margin: 0;
		padding: 10px;
	}
}
.content-left,
.content-right{
	padding: 15px;
}
table{
	margin: 10px 0;
	width: 100%;
	tbody{
		tr{
			border-bottom: 1px solid rgba($color-text, 0.125);
			height: 50px;
			td{
				color: $color-text;
				padding: 10px 5px;
			}
			td:nth-child(1){
				width: 50%;
			}
			td:nth-child(2){
				width: 50%;
			}
			td:last-child{
				font-weight: 300;
			}
		}
		tr:last-child{
			border-bottom: none;
		}
	}
}
article.s1{
	background-color: #414C5A;
	.s1-body{
		overflow: auto;
		.content{
			padding: 0;
			.content-summary{
				width: 100%;
				padding: 0;
				-webkit-flex-direction: column;
				display: -webkit-flex;
				display: flex;
				flex-direction: column;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-align-content: center;
				align-content: center;
				.content-item{
					width: 100%;
					margin: 10px 0;
				}
				.content-item:nth-child(1){
					padding: 0;
					margin: 0;
				}
				.content-item:nth-child(2){
					margin: 20px 0 10px;
					text-align: left;
				}
				img{
					width: 100%;
				}
				h4{
					color: #ffffff;
					margin: 0;
					font-weight: normal;
				}
				span{
					color: #35AAB7;
					font-size: 12px;
					margin-bottom: 5px;
					display: block;
				}
				div:nth-child(2){
					h3{
						color: #ffffff;
						margin: 0;
					}
				}
			}
		}
	}
}
article.s2{
	.s2-body{
		background-color: #ffffff;
		>.row{
			margin: 0;
			#firstdiv{
				width: 100%;
				height: 500px;
			}
		}
	}
}
.s3-body{
	background-color: #F0F4F8;
	.s3-body-cost{
		>div{
			background-color: #ffffff;
		}
		table{
			margin: 10px 0;
			width: 100%;
			tbody{
				tr{
					border-bottom: 1px solid rgba($color-text, 0.125);
					td{
						width: 50%;
						color: $color-text;
						padding: 10px 5px;
					}
					td:last-child{
						font-weight: 200;
					}
				}
				tr:last-child{
					border-bottom: none;
				}
			}
		}
	}
}
.summary-action{
	display: inline-flex;
	display:-webkit-inline-flex;
	width: 100%;
}
@media (min-width: 768px) {
	table{
		tbody{
			tr{
				td:nth-child(1){
					width: 50%;
				}
				td:nth-child(2){
					width: 50%;
				}
				&:hover{
					background-color: rgba($color-text, 0.25);
					@include transition(background 0.25s linear);
				}
			}
		}
	}
		
	article.s1{
		.s1-body{
			.content{
				.content-summary{
					width: 100%;
					padding: 0;
					-webkit-flex-direction: row;
					display: -webkit-flex;
					display: flex;
					flex-direction: row;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-align-items: center;
					align-items: center;
					-webkit-align-content: center;
					align-content: center;
					.content-item:nth-child(1){
						img{
							width: 250px;
						}
					}
					.content-item:nth-child(2){
						text-align: center;
					}
					.content-item:nth-child(2),
					.content-item:nth-child(3),
					.content-item:nth-child(4){
						flex-basis: auto;
					}
				}
			.content-tabs{
				ul{
					li{
						font-weight: 300;
						cursor: pointer;
						&.tabActiveHeader{
							font-weight: normal;
						}
					}
				}
			}
			}
		}
	}
}
@media (min-width: 992px) {
	table{
		tbody{
			tr{
				td:nth-child(1){
					width: 50%;
				}
				td:nth-child(2){
					width: 50%;
				}
			}
		}
	}
	article.s1{
		.s1-body{
			.content{
				.content-summary{
					width: 100%;
					padding: 0;
					-webkit-flex-direction: row;
					display: -webkit-flex;
					display: flex;
					flex-direction: row;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-align-items: center;
					align-items: center;
					-webkit-align-content: center;
					align-content: center;
					.content-item:nth-child(1){
						img{
							width: 250px;
						}
					}
					.content-item:nth-child(2){
						text-align: center;
					}
				}
			}
		}
	}
}