<section class="summary row">
	<section class="col-lg-offset-1 col-lg-10">
		<article class="s1">
			<div class="summary-header">
				<h4>RESUMEN COTIZACIÓN</h4>
			</div>
			<div class="s1-body">
				<div class="col-xs-12 content">
					<div class="content-summary">
						<div class="content-item">
							<img src="./images/ciclovia.jpg" alt="">
						</div>
						<div class="content-item">
							<h3>$000,000,000.00</h4>
							<span>TOTAL</span>
						</div>
						<div class="content-item">
							<h4>Calles</h4>
							<span>MODALIDAD</span>
							<h4>Infraestructura ciclista</h4>
							<span>TIPO</span>
						</div>
						<div class="content-item">
							<h4>Busbici</h4>
							<span>PROYECTO</span>
							<h4>Delegación Miguel Hidalgo</h4>
							<span>LUGAR</span>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="s3">
			<accordion>
				<accordion-group is-open="first.open">
					<accordion-heading >Costos<i class="pull-right" ng-class="{'emus-plus': first.open, 'emus-minus': !first.open}"></i></accordion-heading>
					<div class="row">
						<div class="col-xs-12 col-sm-offset-2 col-sm-8">
							<table>
								<tbody>
									<tr>
										<td>Area de Infraestructura</td>
										<td>{{result.areaInfraestructura | currency}}</td>
									</tr>
									<tr>
										<td>Obras viales de bacheo</td>
										<td>{{result.bacheo | currency}}</td>
									</tr>
									<tr>
										<td>Biciestacionamientos</td>
										<td>{{result.biciestacionamientos | currency}}</td>
									</tr>
									<tr>
										<td>Delimitación de la Infraestructura</td>
										<td>{{result.delimitacionInfraestructura | currency}}</td>
									</tr>
									<tr>
										<td>Infraestructura complementaria</td>
										<td>{{result.infraestructuraComplementaria | currency}}</td>
									</tr>
									<tr>
										<td>Intersecciones semaforizadas</td>
										<td>{{result.interseccionesSemaforizadas | currency}}</td>
									</tr>
									<tr>
										<td>Señalización</td>
										<td>{{result.senalizacion.seleccionada | currency}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</accordion-group>
				<accordion-group is-open="second.open">
					<accordion-heading>Comparativa<i class="pull-right" ng-class="{'emus-plus': second.open, 'emus-minus': !second.open}"></i></accordion-heading>
					This is just some content to illustrate fancy headings.
				</accordion-group>
				<accordion-group is-open="third.open">
					<accordion-heading>Datos ingresados<i class="pull-right" ng-class="{'emus-plus': third.open, 'emus-minus': !third.open}"></i></accordion-heading>
					<section class="row">
						<div class="content-left col-xs-12 col-sm-6">
							<div class="col-xs-12">
								<table>
									<tbody>
										<tr>
											<td>Infraestructura</td>
											<td>{{own.infraestructura}}</td>
										</tr>
										<tr>
											<td>Tipo de calle</td>
											<td>{{own.tipo_calle}}</td>
										</tr>
										<tr>
											<td>Kilómetros</td>
											<td>{{own.KmEvaluables}}</td>
										</tr>
										<tr>
											<td>Ancho efectivo de la infraestructura</td>
											<td>{{own.Anchoefectivo}}</td>
										</tr>
										<tr>
											<td>Sentidos</td>
											<td>{{own.Sentidos}}</td>
										</tr>
										<tr>
											<td>Sección de calle (arroyo vehicular)</td>
											<td>{{own.AnchoCalle}}</td>
										</tr>
										<tr>
											<td>Intersecciones semaforizadas</td>
											<td>{{own.IntersSemaf}}</td>
										</tr>
										<tr>
											<td>Intersecciones totales</td>
											<td>{{own.IntersTotales}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="content-right col-xs-12 col-sm-6">
							<div class="col-xs-12">
								<table>
									<tbody>
										<tr>
											<td>Nivel de bacheo</td>
											<td>{{own.TipoDeBacheo}}</td>
										</tr>
										<tr>
											<td>Pozos de drenaje</td>
											<td>{{own.PozosProyecto}}</td>
										</tr>
										<tr>
											<td>Rejillas</td>
											<td>{{own.RejillasProyecto}}</td>
										</tr>
										<tr>
											<td>Cocheras</td>
											<td>{{own.Cocheras}}</td>
										</tr>
										<tr>
											<td>Biciestacionamientos</td>
											<td>{{own.Biciestacionamientos}}</td>
										</tr>
										<tr>
											<td>Señalización</td>
											<td>{{own.senalizacion}}</td>
										</tr>
										<tr>
											<td>Obra complementaria</td>
											<td>{{own.ObraComp}}</td>
										</tr>
										<tr>
											<td>Costo de mantenimiento anual</td>
											<td>{{own.MantenimientoAnual}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</section>
				</accordion-group>
			</accordion>

		</article>
		<!--<article class="s2">
			<div class="summary-header">
				<h4>DATOS INGRESADOS</h4>
			</div>
			<div class="s2-body">
				<div class="s3-body">
					<diw class="row">
						<div class="s3-body-cost col-xs-12 col-lg-offset-1 col-lg-10">
							<div class="col-xs-12">
								<section id="tabcontent">
									<article id="tabpage_1">

									</article>
									<article id="tabpage_2">
										Tab 2
									</article>
									<article id="tabpage_3">
										Tab 3
									</article>
								</section>
							</div>
						</div>
					</diw>
				</div>
				<section class="row">
					<div class="content-left col-xs-12 col-sm-6">
						<div class="col-xs-12">
							<table>
								<tbody>
									<tr>
										<td>Infraestructura</td>
										<td>{{own.infraestructura}}</td>
									</tr>
									<tr>
										<td>Tipo de calle</td>
										<td>{{own.tipo_calle}}</td>
									</tr>
									<tr>
										<td>Kilómetros</td>
										<td>{{own.KmEvaluables}}</td>
									</tr>
									<tr>
										<td>Ancho efectivo de la infraestructura</td>
										<td>{{own.Anchoefectivo}}</td>
									</tr>
									<tr>
										<td>Sentidos</td>
										<td>{{own.Sentidos}}</td>
									</tr>
									<tr>
										<td>Sección de calle (arroyo vehicular)</td>
										<td>{{own.AnchoCalle}}</td>
									</tr>
									<tr>
										<td>Intersecciones semaforizadas</td>
										<td>{{own.IntersSemaf}}</td>
									</tr>
									<tr>
										<td>Intersecciones totales</td>
										<td>{{own.IntersTotales}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="content-right col-xs-12 col-sm-6">
						<div class="col-xs-12">
							<table>
								<tbody>
									<tr>
										<td>Nivel de bacheo</td>
										<td>{{own.TipoDeBacheo}}</td>
									</tr>
									<tr>
										<td>Pozos de drenaje</td>
										<td>{{own.PozosProyecto}}</td>
									</tr>
									<tr>
										<td>Rejillas</td>
										<td>{{own.RejillasProyecto}}</td>
									</tr>
									<tr>
										<td>Cocheras</td>
										<td>{{own.Cocheras}}</td>
									</tr>
									<tr>
										<td>Biciestacionamientos</td>
										<td>{{own.Biciestacionamientos}}</td>
									</tr>
									<tr>
										<td>Señalización</td>
										<td>{{own.senalizacion}}</td>
									</tr>
									<tr>
										<td>Obra complementaria</td>
										<td>{{own.ObraComp}}</td>
									</tr>
									<tr>
										<td>Costo de mantenimiento anual</td>
										<td>{{own.MantenimientoAnual}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
		</article>-->
	</section>
</section>